
<div class="container">
  <div class="row">
   <div class="col">
  
    <div class="input-group mb-4">
       <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default"></span>
       </div>
      <input [(ngModel)]="todoInput" type="text" class="form-control" (keyup.enter)="createTodo()" placeholder="Enter text" aria-label="username" aria-describedby="inputGroup-sizing-default">
      <div class="input-group-append">
          <button (click)="createTodo(chore)" class="btn btn-outline-secondary" type="button">Enter</button>
        </div>
    </div>
   </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <button (click)="deleteAllTodos()" class="btn btn-danger" type="button">Delete all</button>
  </div>
</div>

<table class="table table-dark">
  <thead>
   
  </thead>
  <tbody>
    <tr *ngFor="let todo of todos">
      <td class="px-3 pt-3">
        <i *ngIf="todo.isChecked === false" (class)="checkOffTodo(todo)" class="far fa-square mr-3"></i>
        <input type="checkbox" [(ngModel)]="todo.isChecked">
        {{ todo.name }}
      </td>
      <td class="text-right">
        <button (click)="editTodo(todo)"
        class="btn mr-3">edit</button>
        <button class="btn btn-danger" (click)=
        "deleteTodo(todo)">delete</button>
      </td>
    </tr>
    
  </tbody>
</table>
<div class="parallax"></div>
